extends layout

block content
    main.flex-shrink-0
        .container
            h1.mt-5 Home page layout
            p.lead
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic et alias harum reprehenderit ullam? Cum dolor inventore aliquam maiores sunt saepe, minus beatae, asperiores molestias doloribus ipsum? Quibusdam, iusto?